{% extends "base.html" %}

{% set includePublicHeader = true %}
{% set includePublicFooter = true %}

{% block head %}
        <title>Cursinho Projeto Educação Solidária</title>
        <meta name="keywords" content="Cursinho PES; UFSC; Curso pré-vestibular; Projeto Educação Solidária; Araranguá">
        <meta name="description" content="Curso pré-vestibular social da Universidade Federal de Santa Catarina, Campus Araranguá, destinado a estudantes da rede pública de ensino da cidade de Araranguá, SC.">
        <meta name="robots" content="index, follow">
{% endblock head %}

{% block main %}
            <div class="banner">
                <div class="bg-color-banner contorno">
                <div class="text-center w-100 font-pes pb-3 banner-font" style="padding-top: 150px;">
                    <b>PROJETO EDUCAÇÃO SOLIDÁRIA</b>
                </div>
                <div class="text-center w-100 pb-4">
                    <h4>Curso pré-vestibular social da UFSC Campus Araranguá.</h4>
                </div>
                <div class="container text-center">
                    <div class="form-row mb-2">
                    <div class="form-group col-md-4">
                    <h4>Missão</h4>
                    <p class="text-justify mr-3 ml-3">Possibilitar, incentivar e orientar o ingresso de jovens estudantes da rede pública no ensino superior de qualidade, além de estimular a participação social dos voluntários e colaboradores.</p>
                    </div>
                    <div class="form-group col-md-4">
                    <h4>Visão</h4>
                    <p class="text-justify mr-3 ml-3">Ser referência no sistema educacional e nas organizações sem fins lucrativos da região sul do estado de Santa Catarina.</p>
                    </div>
                    <div class="form-group col-md-4">
                    <h4>Valores</h4>
                    <p class="text-justify mr-3 ml-3">Ensino de qualidade e acessível. Voluntários engajados, preparados e sempre motivados. Compromisso com a ética e a transparência. Resultados que refletem a satisfação pessoal dos estudantes e colaboradores.</p>
                    </div>
                    </div>
                    <h5 class="mb-5 pb-5">Para saber mais acesse a sessão <a href="/sobre-nos">sobre nós</a> ou entre em <a href="/contato">contato.</a></h5>
                </div> 
                </div>
            </div>
{% endblock main %}

