{% extends "base.html" %}

{% set includeHeader = false %}
{% set includeFooter = false %}
{% set bodyClass = 'bg-links' %}

{% block head %}
        <title>Links - Cursinho PES</title>
        <meta name="keywords" content="Cursinho PES; UFSC; Curso pré-vestibular; Projeto Educação Solidária; Araranguá">
        <meta name="description" content="Links para as redes sociais e contato do Cursinho Projeto Educação Solidária, curso pré vestibular social da UFSC Campus Araranguá-SC.">
        <meta name="robots" content="index, follow">
{% endblock head %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/assets/css/links.css">
{% endblock stylesheets %}

{% block main %}
            <div class="container-fluid max-widht text-center">
                <img src="/assets/img/logo-pes-circular.png" class="mb-4" width="300" alt="Logo Cursinho PES">
{%          for link in links %}
                <a class="btn btn-verde w-100 mb-2" target="_blank" href="{{link.url}}"><b>{{link.name}}</b></a>
{%          endfor %}
                <a class="btn btn-verde w-100 mb-2" href="/"><b>Voltar ao site</b></a>
            </div>
{% endblock main %}