{% extends "base.html" %}

{% set bodyClass = 'bg-links text-center' %}

{% block head %}
        <title>Login - Cursinho PES</title>
        <meta name="keywords" content="Cursinho PES; UFSC; Curso pré-vestibular; Projeto Educação Solidária; Araranguá">
        <meta name="description" content="Página de Login para a área restrita do site do Cursinho PES, curso pré-vestibular social da UFSC Campus Araranguá-SC.">
        <meta name="robots" content="index, follow">
{% endblock head %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
{% endblock stylesheets %}

{% block main %}
            <div class="wrapper">
                <div class="out">
                    <div class="form-row bg-form p-4">
                        <div class="form-group col-md-6 mb-0">
                            <img src="/assets/img/logo-pes-circular.png" width="100%" alt="">
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            <form class="container-fluid" method="POST">
                                <h4 class="pb-2 pt-4 desktop">Bem vindo!</h4>
                                <h4 class="pb-2 pt-2 mobile">Bem vindo!</h4>
                                <h6 class="pb-2 text-left">Realize o login antes de continuar.</h6>
                                <div class="form-row">
                                    <div class="form-group w-100 text-justify">
{% if unknownError != '' %}
                                        <p id="unknownError"><small class="text-danger">{{unknownError}}</small></p>
{% endif %}
                                        <input type="text" class="form-control {{classInvalidUser}}" id="user" name="user" placeholder="CPF" value="{{user}}" required>
{% if errorUser != '' %}
                                        <small class="text-danger" id="errorUser">{{errorUser}}</small>
{% endif %}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group w-100 mb-0 text-left">
                                        <input type="password" class="form-control {{classInvalidPassword}}" id="password" name="password" placeholder="Senha" required>
{% if errorPassword != '' %}
                                        <small class="text-danger" id="errorPassword">{{errorPassword}}</small>
{% endif %}
                                    </div>
                                </div>
                                <div class="w-100 text-right">
                                    <a href="/recuperar-senha" class="text-right"><small>Esqueceu sua senha?</small></a>
                                </div>
                                <div class="form-row mt-3">
                                    <div class="form-group col-6">
                                        <a href="/" class="btn btn-bordo w-100">Voltar ao site</a>
                                    </div>
                                    <div class="form-group col-6">
                                        <button class="btn btn-verde w-100">Entrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock main %}

{% block scriptsJS %}
        <script src="/assets/js/pages/login.js"></script>
{% endblock scriptsJS %}