html, body {
    height: 100%;
    min-height: 100%;
}

.navbar {
    border-bottom: 3px solid #350a12 !important;
}
  
.wrapper {
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
  
.wrapper .out {
    padding: 40px;
    border: none;
    width: 100%;
    max-width: 900px;
    
}

.bg-form {
    border-radius: 10px;
    background-color: white;
}